<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.only.mapper.GroupMapper">

	<!-- 添加分组 -->
	<insert id="addGroup" useGeneratedKeys="true" keyProperty="id">
		insert into
		Group(Name,DesCription,Icon,Sequence,Price)
		values(#{name},#{description},#{icon},#{sequence},#{price})
	</insert>

	<!-- 修改分组 -->
	<update id="updateGroup">
		update Group
		<set>
			<if test="name!=null and name !=''">Name=#{name}</if>
			<if test="description!=null and description !=''">DesCription=#{description}</if>
			<if test="icon!=null and icon !=''">Icon=#{icon}</if>
			<if test="sequence!=null and sequence !=''">Sequence=#{sequence}</if>
			<if test="price!=null and price !=''">Price=#{price}</if>
		</set>
	</update>

	<!-- 删除分组 -->
	<update id="deleteGroup" parameterType="int">
		update Group set
		Enable=0
		where ID=#{id}
	</update>

	<!-- 分组列表总数 -->
	<select id="getGroupListTotal" resultType="int">
		select count(0)
		where Enable=1
		<if test="name!=null and name!=''">
			and Name like concat('%',#{name},'%')
		</if>
	</select>


	<!-- 分组列表 -->
	<select id="getGroupList" resultType="com.only.model.Group">
		select
		ID,
		Name,
		Icon,
		Sequence,
		DesCription,
		Price,
		CreateDate,
		UpdateDate
		where Enable=1
		<if test="name!=null and name!=''">
			and Name like concat('%',#{name},'%')
		</if>
		<if test="page!=null">
			<if test="page.sort!=null and page.sort!=''">
				order by #{page.sort} #{page.order}
			</if>
			<if test="page.pageIndex>0">
				limit #{page.start},#{page.end}
			</if>
		</if>
	</select>


</mapper>