<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.only.mapper.RoleMapper">

	<!-- 添加角色 -->
	<insert id="addRole" useGeneratedKeys="true" keyProperty="id">
		insert
		into Role(Name,Indentation,Description)
		values(#{name},#{indentation},#{description})
	</insert>

	<!-- 修改角色 -->
	<update id="updateRole" parameterType="com.only.model.Role">
		update Role set
		Name=#{name},Description=#{description},UpdateDate=#{updatedate}
		where ID=#{id}
	</update>

	<!-- 删除角色 -->
	<update id="deleteRole" parameterType="int">
		update Role set Enable=0
		where ID=#{id}
	</update>

	<!-- 角色详情 -->
	<select id="getRoleByID" parameterType="int" resultType="com.only.model.Role">
		select
		ID,
		Name,
		Indentation,
		Description,
		CreateDate
		from role
		where
		ID=#{id}
		and
		Enable=1

	</select>

	<!-- 角色列表条数 -->
	<select id="getRoleListTotal" resultType="Integer">
		select
		count(0)
		from role
		where
		Enable=1
		<if test="name!=null and name !=''">
			and Name like concat('%',#{name},'%')
		</if>

	</select>

	<!-- 角色列表 -->
	<select id="getRoleList" resultType="com.only.model.Role">
		select
		ID,
		Name,
		Indentation,
		Description,
		CreateDate
		from role
		where
		Enable=1
		<if test="name!=null and name !=''">
			and Name like concat('%',#{name},'%')
		</if>
		<if test="page!=null">

			<if test="page.sort!=null and page.sort!=''">
				order by #{page.sort} #{page.order}
			</if>
			<if test="page.pageIndex>0">
				limit #{page.start},#{page.end}
			</if>
		</if>
	</select>

</mapper>