<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.only.mapper.RoleMapper">

	<!-- 添加角色 -->
	<insert id="addRole" useGeneratedKeys="true" keyProperty="id">
		insert
		into role(name,indentation,description)
		values(#{name},#{indentation},#{description})
	</insert>

	<!-- 修改角色 -->
	<update id="updateRole" parameterType="com.only.model.Role">
		update role set
		name=#{name},description=#{description},update_date=#{updateDate}
		where id=#{id}
	</update>

	<!-- 删除角色 -->
	<update id="deleteRole" parameterType="int">
		update role set enable=0
		where id=#{id}
	</update>

	<!-- 角色详情 -->
	<select id="getRoleByID" parameterType="int" resultType="com.only.model.Role">
		select
		id,
		name,
		indentation,
		description,
		create_date as createDate
		from role
		where
		id=#{id}
		and
		enable=1

	</select>

	<!-- 角色列表条数 -->
	<select id="getRoleListTotal" resultType="Integer">
		select
		count(0)
		from role
		where
		enable=1
		<if test="name!=null and name !=''">
			and name like concat('%',#{name},'%')
		</if>

	</select>

	<!-- 角色列表 -->
	<select id="getRoleList" resultType="com.only.model.Role">
		select
		id,
		name,
		indentation,
		description,
		create_date as createDate
		from
		role
		where
		enable=1
		<if test="name!=null and name !=''">
			and name like concat('%',#{name},'%')
		</if>
		<if test="page!=null">

			<if test="page.sort!=null and page.sort!=''">
				order by #{page.sort} #{page.order}
			</if>
			<if test="page.pageIndex>0">
				limit #{page.start},#{page.end}
			</if>
		</if>
	</select>

</mapper>