<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.only.mapper.UserRoleMapper">

	<!-- 添加用户角色 -->
	<insert id="addUserRole">
		insert into UserRole(UserID,RoleID)
		values(#{userid},#{roleid})
	</insert>


	<!-- 修改用户角色 -->
	<update id="updateUserRole">
		update UserRole set RoleID=#{roleid}
		where
		UserID=#{userid}
	</update>

	<!-- 用户角色 -->
	<select id="getUserRoleByUser" parameterType="int"
		resultType="com.only.model.UserRole">
		select * from UserRole where UserID=#{userid} limit 1
	</select>

</mapper>